<p>
  <mat-toolbar color="primary">
    <span>Schematic Finder</span>
    <span class="toolbar-spacer"></span>
    <button mat-flat-button  type="submit"  (click)="clearFields()" style="margin-right: 10px;">Clear</button>
    <button mat-flat-button  type="submit"  (click)="searchRecords()" style="margin-right: 10px;">Edit</button>
    <button mat-flat-button  type="submit"  (click)="searchRecords()" class="toolbar-buttons">Search</button>
  </mat-toolbar>
</p>


<div class="container">
  <span class = 'field-spacer'></span>
  <mat-form-field class="text-form">
    <mat-label>Drawing Number</mat-label>
    <input matInput type="text"  [(ngModel)]="drawing_number" [ngModelOptions]="{standalone: true}"   class="form-control" id="drawing_number" name="drawing_number" placeholder="">
  </mat-form-field>
  <span class = 'field-spacer'></span>

  <mat-form-field class="text-form">
    <mat-label>Operator Type</mat-label>
    <input matInput type="text"  [(ngModel)]="operator_type" [ngModelOptions]="{standalone: true}"   class="form-control" id="operator_type" name="operator_type" placeholder="">
  </mat-form-field>
  <span class = 'field-spacer'></span>

  <mat-form-field class="text-form">
    <mat-label>Date Drawn</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="date_drawn">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="multi-year"></mat-datepicker>
  </mat-form-field>
  <span class = 'field-spacer'></span>

  <form class="text-form">
    <mat-form-field class="example-full-width">
      <mat-label>Sheet Size</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Sheet Size"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <span class = 'field-spacer'></span>

</div>

<div class="container">
  <span class = 'field-spacer'></span>
  <mat-form-field class="text-form">
    <mat-label>Special</mat-label>
    <input matInput type="text"  [(ngModel)]="special" [ngModelOptions]="{standalone: true}"   class="form-control" id="special" name="special" placeholder="">
  </mat-form-field>
  <span class = 'field-spacer'></span>

  <mat-form-field class="text-form">
    <mat-label>Description</mat-label>
    <input matInput type="text"  [(ngModel)]="descr" [ngModelOptions]="{standalone: true}"   class="form-control" id="descr" name="descr" placeholder="">
  </mat-form-field>
  <span class = 'field-spacer'></span>

  <mat-form-field class="text-form">
    <mat-label>Approved By</mat-label>
    <input matInput type="text"  [(ngModel)]="approved_by" [ngModelOptions]="{standalone: true}"   class="form-control" id="descr" name="descr" placeholder="">
  </mat-form-field>
  <span class = 'field-spacer'></span>

  <mat-form-field class="text-form">
    <mat-label>Drawn By</mat-label>
    <input matInput type="text"  [(ngModel)]="drawn_by" [ngModelOptions]="{standalone: true}"   class="form-control" id="descr" name="descr" placeholder="">
  </mat-form-field>
  <span class = 'field-spacer'></span>
</div>

      
<div class="grid">
  <mat-card class="cards">
    <h2 class="center">Power:</h2>
    <mat-accordion multi>
      <mat-expansion-panel (opened)="gas_hydraulic_panel = true"
      (closed)="gas_hydraulic_panel = false" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title [class.bold]="gas_hydraulic_panel">
            Gas Hydraulic (Tanks)
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-slide-toggle [(ngModel)]="nitrogen_power">Nitrogen Power</mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle [(ngModel)]="power_regulator">Power Regulator</mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle>Pressure Switch</mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle>Leveling Check </mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle>Nitrogen Power</mat-slide-toggle></mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Central Hydraulic
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-slide-toggle>Nitrogen Power</mat-slide-toggle>
        <mat-slide-toggle>Power Regulator</mat-slide-toggle>
        <mat-slide-toggle>Pressure Switch</mat-slide-toggle>
        <mat-slide-toggle>Leveling Check </mat-slide-toggle>
        <mat-slide-toggle>Nitrogen Power</mat-slide-toggle>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Supply
</mat-panel-title>
</mat-expansion-panel-header>
<mat-slide-toggle>Nitrogen Power</mat-slide-toggle>
<mat-slide-toggle>Power Regulator</mat-slide-toggle>
<mat-slide-toggle>Pressure Switch</mat-slide-toggle>
<mat-slide-toggle>Leveling Check </mat-slide-toggle>
<mat-slide-toggle>Nitrogen Power</mat-slide-toggle>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Air Motor
</mat-panel-title>
</mat-expansion-panel-header>
<mat-slide-toggle>Nitrogen Power</mat-slide-toggle>
<mat-slide-toggle>Power Regulator</mat-slide-toggle>
<mat-slide-toggle>Pressure Switch</mat-slide-toggle>
<mat-slide-toggle>Leveling Check </mat-slide-toggle>
<mat-slide-toggle>Nitrogen Power</mat-slide-toggle>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Electric Motor
</mat-panel-title>
</mat-expansion-panel-header>
<mat-slide-toggle>Nitrogen Power</mat-slide-toggle>
<mat-slide-toggle>Power Regulator</mat-slide-toggle>
<mat-slide-toggle>Pressure Switch</mat-slide-toggle>
<mat-slide-toggle>Leveling Check </mat-slide-toggle>
<mat-slide-toggle>Nitrogen Power</mat-slide-toggle>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Self Contained
</mat-panel-title>
</mat-expansion-panel-header>
<mat-slide-toggle>Nitrogen Power</mat-slide-toggle>
<mat-slide-toggle>Power Regulator</mat-slide-toggle>
<mat-slide-toggle>Pressure Switch</mat-slide-toggle>
<mat-slide-toggle>Leveling Check </mat-slide-toggle>
<mat-slide-toggle>Nitrogen Power</mat-slide-toggle>
</mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
      <mat-panel-title>
      Pneumatic (No Tanks)
      </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-slide-toggle>Nitrogen Power</mat-slide-toggle>
      <mat-slide-toggle>Power Regulator</mat-slide-toggle>
      <mat-slide-toggle>Pressure Switch</mat-slide-toggle>
      <mat-slide-toggle>Leveling Check </mat-slide-toggle>
      <mat-slide-toggle>Nitrogen Power</mat-slide-toggle>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
  <mat-card class="cards">
    <h2 class="center">Function:</h2>

    <mat-accordion multi>
      <mat-expansion-panel [class.ght]="gas_hydraulic_panel==false" (opened)="gas_hydraulic_electric_remote_2_way_panel = true"
      (closed)="gas_hydraulic_electric_remote_2_way_panel = false" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title [class.bold]="gas_hydraulic_electric_remote_2_way_panel">
            Electric Remote 2 Way
          </mat-panel-title>
          <mat-panel-description>
            Gas Hydraulic
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item><mat-slide-toggle [(ngModel)]="lockout">Lockout</mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle [(ngModel)]="latching_feature">Latching Feature</mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle [(ngModel)]="low_pressure_solenoid">Low Pressure Soleniod</mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle [(ngModel)]="high_pressure_solenoid">High Pressure Soleniod</mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle [(ngModel)]="redundant_solenoid">Redundant Solenoid</mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle [(ngModel)]="trigger_valve">Trigger Valve</mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle [(ngModel)]="momentary_impulse">Momentary Impulse</mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle [(ngModel)]="pilot_isolation_valve">Pilot Isolation Valve</mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle [(ngModel)]="sequencing">Sequencing</mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle [(ngModel)]="low_pressure_solenoid">Low Pressure Soleniod</mat-slide-toggle></mat-list-item>
          <mat-list-item><mat-slide-toggle [(ngModel)]="double_holding_valve">Double Holding Valve</mat-slide-toggle></mat-list-item>
          </mat-list>
          

      </mat-expansion-panel>
    </mat-accordion>

  </mat-card>
  <mat-card class="cards">
    <h2 class="center">Results:</h2>
    <div class="center">
      <mat-list class="list-results">
        <mat-list-item *ngFor="let Item of SearchArray">
          <a href="https://example.com/{{Item.drawing_number}}" target="_blank">{{Item.drawing_number}}</a>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card> 
</div>