.toolbar-spacer {
    flex: 1 1 auto;
}
.field-spacer {
    flex: 1 1 0;
}
.toolbar-buttons{
    margin-right: 20;
}
.container {
    display: flex;
    flex-wrap: wrap;
}  
.grid{
    display: flex;
}
.cards{
    margin-right: 10px;
    flex: 1 ;
}
.center{
    display: flex;
    justify-content: center;
}
.list-results{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-form{
    flex-grow:4;
    margin-right:2%;
}
.bold{
    font-weight: bolder;
    font-size: 1.2em; /* Adjust the font size as needed */
    // text-decoration: underline;
}
.ght{
    display: none;
}